*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}

header{
    background-color: black;
    height: 70px;
    
}
.bottom-header{
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 30px;
    padding: 10px;
}
.box-header{
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: end;
    align-items: center;
}
main{
    height: 100vh;
    
}

.conteiner{
    display: flex;
    background-color: black;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.section{
    background-color: blue;
    background-image: url(img/620-536x354.jpg);
    background-size: cover;
    position: relative;
    width: 15%;
    height: 200px;
    margin:1px;
    margin-bottom:1px;
    display: flex;
}
.bottom-left {
    background-color: rgba(0, 0, 0, 0.466);
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding:2px;
   }

.bottom-footer{
    padding: 5px;
    display: flex;
    color: white;
    display: flex;
}
  /* i{
    padding: 5px;
    font-size: 25px;
   }*/
span{
    color: white;
} 

footer{
   /* background-color: rgb(32, 32, 32);
    height: 80px;*/
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
    align-items: center;
    background-color: rgb(34, 34, 34);
}
.box-footer{
    /*background-color: rgb(32, 32, 32);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;*/
    flex-basis: 15%;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;

    
}
.action{
font-size: 10px;
text-align: center;
margin-right: 20px;
color: white;
}
 
P{
    color: brown;
    font-size: 10px;
    background-color: rgb(105, 105, 105);
    padding: 34px;
}
i{
    font-size: large;
}

/*#wrapper{

    height: 100vh;
    display:flex;

}

#player-conteiner{
    flex-grow: 1;
    height:100%;
    position: relative;
    background-color: brown;
    background-image: url(img/battaglia.png);
}
#player{
    position: absolute;
    left:0;
    bottom:0;
    border-top: 4px solid red;
    height: 70px;
    width: 50%;

}

#suggested{
    width: 50%;
    height: 100%;
    /*background-color: blue;
    overflow: auto;
       
}
.bottom-left {
    bottom: 25px;
    left: 8px;
    position: relative;
   }

.img-item{
    max-width: 30%;
}*/